<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Poll Simulator</title>
</head>

<body>
    <div >
	<center>
      <h1><center><u>Poll Simulator</u></center></h1>
            <center><a href="/AddCandidates">Add Candidates</a></center>
            <br>
            <center><a href="/Vote">Vote</a></center>
            <br>
            <center><a href="/PollResult">Poll Result</a></center><br>
            <center><a href="/Report">Voting Summary</a></center>
    </center>
	</div>
	
</body>

</html>