<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Voting Summary</title>
</head>

<body>
    <div >
      <h1><center><u>Voting Summary</u></center></h1>
    <table>
        <thead>
            <tr>
                <th>Names</th>
                <th>Votes</th>
            </tr>
        </thead>
        <tbody>
            <% result.forEach(data =>{ %>
                <tr>
                    <td>
                        <%= data.name %>
                    </td>
                    <td>
                        <%= data.votes %>
                    </td>
                </tr>
                <% }) %>

        </tbody>
    </table>
    <center><a href="/">Home</a></center>
</body>

</html>