<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting Form</title>

</head>

<body>
    <div>
      <h1><center><u>Voting Form</center></u></h1>
        <form method="POST" action="/totalVotes">
            <div >
             <label for="Name">Student Id</label>
                <input type="text"  name="studentid" placeholder="Enter Your ID" Required>
                    
                </div>
            <br>
            <% candidate.forEach(data =>{ %>
                <div>
                    <input type="radio" name="vote" id="<%=data.ID %>" value="<%= data.ID %>">
                    <label><%= data.name %></label>
                </div>
                <br>
            <% }) %>
            <center><button type="submit" > Submit</button></center>
        </form>
        <center><p><b> <%= message %> </b></p></center>

        <center><a href="/" >Home</a></center>
    </div>
</body>